# config/database.yml

default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>

development:
  <<: *default
  host: 127.0.0.1
  port: 5432
  database: postit_development
  username: postgres
  password: postgres

test:
  <<: *default
  database: myapp_test

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
  prepared_statements: false # Better with Neon PgBouncer
  advisory_locks: false # Avoids locks that fail on pooled connections
