<%= render "shared/page_title", title: "All Posts" %>
<main>
  <ul class="list-unstyled">
    <% @posts.each do |post| %>
      <%= render 'post', post: post, show_creator: true %>
    <% end %>
  </ul>
</main>
